<div class="item-segmento" style="top: <%= segmento.distance * 100 %>%;">
	<div class="categoria">
		<span class="arrow"></span>
		<span class="cat-image"></span>
	</div>

	<div class="segmento" data-id="<%= segmento.id %>">
		<span></span>
	</div>

</div>