<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">BR <%= @rodovia.br %>
		<span style="float: right"><%= link_to 'Adicionar Item' , new_rodovia_via_caracteristic_url(@rodovia), remote: true %></span></h3>
	</div>
	<div class="panel-body">
		
		<div class="rodovia">
			<div class="segmentos">
				<% @rodovia.via_caracteristics.each do |segmento| %>
					<%= render partial: 'segmento' , object: segmento %>
				<% end %>
			</div>
			<div class="navegacao-segmento">
				<span>+</span>
				<span>-</span>
			</div>
		</div>

		<div class="infomacao-rodovia"></div>
		<div class="adicionar-categoria"></div>

	</div>
</div>