

<!-- <div class="item-segmento">
						<div class="placa-km"></div>
						<div class="segmento" data-id="<%#= segmento.id %>">
							<span></span>
							<div class="info">
								<dd>Estado: <%= segmento.uf %></dd>
							</div>
						</div>
						<div class="principal-referencia"></div>
						<div class="informations" style="display: none">
						</div>
					</div> -->