<%#= @json_edu["10"]["features"][0]["properties"] %>
<div id="map" class="map"></div>
<div id="information" class="information"></div>


<script type="text/javascript">
var base_layer = new ol.layer.Tile({ source: new ol.source.MapQuest({layer: 'osm'})})
var centeroid = ol.proj.transform([-47.1384275, -12.1923535], 'EPSG:4326', 'EPSG:3857');
var viewOverall = new ol.View({
    center: centeroid,
    zoom: 5
});
var map = new ol.Map({
  layers: [base_layer],
  target: 'map',
  view: viewOverall
});

<% @json_edu.each_key do |key, json_edu| %>
  var vector = new ol.layer.Vector({
     style: new ol.style.Style({
        stroke: new ol.style.Stroke({
          color: "#<%= random_color%>",
          width: 5
        }),
        fill: new ol.style.Fill({
          color: 'rgba(0, 0, 255, 0.1)'
        })
      }),
    source: new ol.source.GeoJSON({
      projection: 'EPSG:3857',
      object: <%= raw @json_edu[key].to_json %>
    }),
   
  })
  vector.on('click', function(){
    console.log("oppaaa");
  })
  map.addLayer(vector);
<% end %>

map.getViewport().addEventListener("click", function(e) {
  displayFeatureInfo(map.getEventPixel(e));
});

map.addInteraction(new ol.interaction.Select({
  condition: ol.events.condition.mouseMove
}));

var displayFeatureInfo = function(pixel ) {
  var feature = map.forEachFeatureAtPixel(pixel, function(feature, layer) {
    console.log(feature);
    return feature;
    });

  var info = document.getElementById('information');
  if (feature) {
    info.innerHTML =  '<div class="panel panel-info"><div class="panel-heading"><h3 class="panel-title">' + feature.get('br') +
     '</h3></div><div class="panel-body">' + '<dt>API: </dt><dd class="text-info">' + feature.get('API') + '</dd>'
     + '<dt>Status: </dt><dd class="text-info">' + feature.get('Status') +  '</dd>' +
     '<dt>Legal : </dt><dd class="text-info">' + feature.get('Legal') +  '</dd>' +
     '<dt>Site Name: </dt><dd class="text-info">' + feature.get('Site_Name') +  '</dd>'+'</div>';
  } else {
    info.innerHTML = '&nbsp;';
  }

  if (feature !== highlight) {
    if (highlight) {
      featureOverlay.removeFeature(highlight);
    }
    if (feature) {
      featureOverlay.addFeature(feature);
    }
    highlight = feature;
  }

}; 


</script>
