<div id="map" class="map"></div>
<div id="information" class="information"></div>

<script type="text/javascript">

var base_layer = new ol.layer.Tile({ source: new ol.source.MapQuest({layer: 'osm'})})
var centeroid = ol.proj.transform([-47.1384275, -12.1923535], 'EPSG:4326', 'EPSG:3857');
var viewOverall = new ol.View({
    center: centeroid,
    zoom: 5
});

var map = new ol.Map({
  layers: [base_layer],
  target: 'map',
  view: viewOverall
});

map.getViewport().addEventListener("click", function(e) {
  displayFeatureInfo(map, map.getEventPixel(e));
});

map.addInteraction(new ol.interaction.Select({
  condition: ol.events.condition.mouseMove
}));


$(function(){
  <% @locals.each do |single| %>
    $.get("<%= get_geom_path(single.br) %>", function(data){
      var item = createVector("#<%= random_color %>", data);
      map.addLayer(item);
    });
  <% end %>

  <% @caracteristics.each do |single| %>
    // $.get("<%= get_geom_by_item_path(single.id) %>", function(data){
    //   var item = createPoint("#<%= random_color %>", data);
    //   map.addLayer(item);
    // });
  <% end %>


  $(document).on('click', ".segmento", function(){
    $info = $(this).closest(".item-segmento").find('.informations');
    $(".adicionar-categoria").hide();
    $(".infomacao-rodovia").html($info.html());
    $(".infomacao-rodovia").show();
  })
})


</script>